---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await getCollection("blog");

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

const pageTitle = "标签索引";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex items-center space-x-2">
    {
      tags.map((tag) => (
        <div class="rounded py-0.5 px-2 text-l bg-sky-400">
          <a href={`/tags/${tag}`}>{tag}</a>
        </div>
      ))
    }
  </div>
</BaseLayout>
