---

---

<div class="hamburger block md:hidden cursor-pointer">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</div>

<style>
  .hamburger .line {
    display: block;
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    background-color: #ff9776;
  }
</style>
