---
const routes = [
  { path: "/", name: "首页" },
  { path: "/about/", name: "关于" },
  { path: "/blog/", name: "博客" },
  { path: "/tags/", name: "标签" },
];
---

<div class="hidden md:flex items-center space-x-2 font-MaShanZheng">
  {
    routes.map((item) => (
      <div class="text-xl px-2 rounded hover:bg-amber-200">
        <a href={item.path}>{item.name}</a>
      </div>
    ))
  }
</div>
